node_modules/
out/
dist/
release/
.vite/
*.tsbuildinfo
.svelte-check/
coverage/
playwright-report/
test-results/

# editors / os
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# local settings written by the app / `elecmockolla init`
.env
.env.*
!.env.example
rules.json
recordings.json
